body{
    margin: 0px;
    padding: 0px;    
}

.grid-container{
    display: grid;
    height:100vh;
    grid-template-areas: 
    'menu'
    'filter'
    'main'
    'pager'
    'footer';    
}

/*Menu*/ 
.menu{ 
    background-color: #CF0A0A;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-area: menu;   
}

.menu i{
    margin: 10px;
}

/*Filter*/
.filter{
    background-color: #EEEEEE;
    padding: 20px;
    grid-area: filter;
    text-align: center;    
}

.filter div{
    padding-top: 20px;    
    padding-bottom: 15px;
}

.filter select{
    width: 200px;
    padding: 10px;   
}

.fa-solid fa-car{
    margin-right: 30px;
}

/* Main Product*/
.main{
    grid-area: main;
    grid-template-columns: 1fr;
    overflow: auto;    
}

.car{
    margin: 10px solid black;
    display: flex;    
    flex-direction: column;
    text-align: center;  
    padding: 25px;
    align-items: center;   
}

.car div{
    padding: 20px;
}

.car img{
    width: 100%;
    border: 0.1px solid #C0C6C8;
}

.car button{
    background-color: #CF0A0A;
    color: white;   
    border: 0.5px solid #C0C6C8;
    border-top: 0px;
    padding: 10px 15px;  
    width: 200px;    
}

/* Pager */
.pager{
    background-color: #EEEEEE;
    grid-area: pager;
    text-align: center;
    padding: 10px;    
}

.pager button{
    background-color: white;
    border: 0.5px solid #EEEEEE;
    color: black;
    padding: 10px;    
}

/* Footer */
.footer{
    background-color: #CF0A0A;
    color: white;
    grid-area: footer;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.icons{    
    padding-top: 20px; 
}

.icons i{
    padding-left: 5px;
    padding-right: 5px;
}

.menu-desktop{
    display: none;
}

/*Media Queries Desktop*/

@media (min-width: 992px){
    .grid-container{
        display: grid;
        height: 100vh;           
        grid-template-areas:
        'menu filter'
        'menu main'
        'footer pager';
        grid-template-columns: 12fr 88fr;
        grid-template-rows: 0.5fr 2fr 0.1fr;        
    }

    /*Menu*/
    .menu{
        grid-area: menu;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;                    
    }

    .bars{
        display: none;
    }

    .menu-desktop{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        color: white;
        gap: 15px;
    }

    /* Filter*/
    .filter{
        grid-area: filter;
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;        
    }

    .filter select{
        width: 100%;        
    }

    /*Main*/
    .main{
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /*Footer*/
    .footer{
        grid-area: footer;
        text-align: center;
        
    }

    /*Pager*/
    .pager{
        grid-area: pager;        
        padding-top: 30px;
    }
}

/*Media Queries Tablet*/

@media screen and (min-width: 576px) and  (max-width: 992px){
    .grid-container{
        display: grid;
        height: 100vh;           
        grid-template-areas:
        'menu menu'
        'filter main'
        'filter pager'
        'footer footer';
        grid-template-columns: 1fr 99fr;
        grid-template-rows: 10fr 80fr 10fr 10fr;                  
    }

    /* Menu*/
    .menu{
        grid-area: menu;
        padding-right: 30px;
        padding-left: 10px;
        display: flex;
        align-content: center;
    }

    .menu-desktop{
        display: flex;              
        color: white;
        gap: 30px;
    }

    /*Filter*/
    .filter{
        grid-area: filter;        
    }
    
    .filter div{
        padding-top: 0px;
        padding-bottom: 20px;
    }
    
    .filter select{
        width: 150px;
        height: 40px;
        padding: 10px;
        
    }

    .bars{
        display:none;
    }

    /*Main*/
    .main{
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 85px;
        padding-right: 85px;
        gap: 90px;
    }

    .car{
        padding-top: 15px;        
    }

    .car button{
        background-color: #CF0A0A;
        color: white;   
        border: 0.5px solid #C0C6C8;
        border-top: 0px;
        padding: 10px 15px;  
        width: 100px;    
    }

    /*Pager*/
    .pager{
        grid-area: pager;
        background-color: white;              
    }

    .pager button{       
        padding: 5px;    
    }

    /*Footer*/
    .footer{
        grid-area: footer;
        padding-bottom: 0px;
        height: 70;
        font-size: 12px;
    }

    .icons{
        padding-top: 10px;
        padding-bottom: 0px
    }    
}
